{% extends 'base.html' %}

{% block head_append %}
<style>
    .grey-container{
        background-color: #ddd;
    }
</style>
{% endblock head_append %}

{% block content %}
<div class="outer m-lg-5">
<div class="container-fluid grey-container bg-gradient">
    <div class="row mb-4"></div>
    <div class="row text-center">
        <p class="h1"><b>About us</b></p>
    </div>
    <div class="row">
        
        <div class="col-md-3 ms-lg-5">
            <img src="{{contact_us.profile_image.url}}" width=100%>
        </div>
        <div class="col-md-7">
            <p class="h3 title m-3"><strong>{{contact_us.title}}</strong></p>
            <!--descriptions-->
            <p>{{contact_us.text}}</p>
        </div>
    </div>
    <div class="row mt-5"></div>
    
    <!--place to put cover for links-->
    <div class="row justify-content-md-center">
        {% if contact_us.portal1_link %}
        <div class="col-4 g-4 category_image">
            <a href="{{contact_us.portal1_link}}" class="">
                <img src="{{contact_us.portal1_image.url}}" class="img-fluid" alt="category1">
                <div class="middle_layer">
                    <button type="button" class="btn btn-primary">Check it out</button>
                </div>
            </a>
        </div>
        {% endif %}
        {% if contact_us.portal2_link %}
        <div class="col-4 g-4 category_image">
            <a href="{{contact_us.portal2_link}}">
                <img src="{{contact_us.portal2_image.url}}" class="img-fluid" alt="category2">
                <div class="middle_layer">
                    <button type="button" class="btn btn-primary">Check it out</button>
                </div>
            </a>
        </div>
        {% endif %}
        {% if contact_us.portal3_link %}
        <div class="col-4 g-4 category_image">
            <a href="{{contact_us.portal3_link}}">
                <img src="{{contact_us.portal3_image.url}}" class="img-fluid" alt="category3">
                <div class="middle_layer">
                    <button type="button" class="btn btn-primary">Check it out</button>
                </div>
            </a>
        </div>
        {% endif %}
    </div>
    
</div>
</div>
{% endblock content %}