{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--move to base.html later-->
    <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    {% block head_append %}
    {% endblock head_append %}
</head>
</html>

{% include "navbar.html" %}

<body>
{% block content %}
{% endblock content %}
</body>
