{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_append %}
<!-- Include the PayPal JavaScript SDK; replace "test" with your own sandbox Business account app client ID -->
<script
  src="https://www.paypal.com/sdk/js?&client-id=AR2cF_4O0abi_NVahromFUE2n5ObCgrJUEkSC0PNIatboq11VZsdKDHB0b_L2ob0qVryEIRR1fcF4UwZ"
  <br>
    "&merchant-id=sb-l8q7l8219169@business.example.com&currency=USD" ></script>

<!-- Set up a container element for the button -->
<script>
    paypal.Buttons({
      // Sets up the transaction when a payment button is clicked
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: {{ object.get_total_price }} // Can reference variables or functions. Example: `value: document.getElementById('...').value`
          }
    }]
      });
    },
  // Finalize the transaction after payer approval
  onApprove: function(data, actions) {
    return actions.order.capture().then(function (orderData) {
      // Successful capture! For dev/demo purposes:
      console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
      var transaction = orderData.purchase_units[0].payments.captures[0];
      alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
      // When ready to go live, remove the alert and show a success message within this page. For example:
      // var element = document.getElementById('paypal-button-container');
      // element.innerHTML = '';
      // element.innerHTML = '<h3>Thank you for your payment!</h3>';
      // Or go to another URL:  actions.redirect('thank_you.html');

      //add to redirect, test?
      window.location.replace("{% url 'shop:payment-sucess' %}")
    });
  },

  onCancel: function(data) {
    window.location.replace("{% url 'shop:payment-unsucess' %}")
  }
  }).render('#paypal-button-container');

</script>
{% endblock head_append %}

{% block content %}

<div class="container wow fadeIn">
  <p class="my-5 h2 text-center">Checkout</p>
  <div class="row offset-md-2">
    <!--address area-->
    <div class="col-md-6 mb-4">
      <div class="card">
        <form method='POST' class="card-body">
          {% csrf_token %}
          <h3>Shipping address</h3>
          {% include 'form_style/form_style1.html' with field=form.address_line1 %}
          {% include 'form_style/form_style1.html' with field=form.address_line2 %}
          {% include 'form_style/form_style1.html' with field=form.address_line3 %}
            {% include 'form_style/form_style1.html' with field=form.country %}
          {% include 'form_style/form_style1.html' with field=form.zip_code %}
          <button class='btn btn-primary btn-block mt-4' type="submit">Proceed to Payment</button>
        </form>
      </div>
    </div>
    <!--order summary & paypal-->
    <div class="col-md-4 mb-4">
      {% include 'order_snippet.html' with order=object %}
      <div id="paypal-button-container"></div>
    </div>
  </div>
</div>


<div class="container-flex">
  <div class="row offset-lg-2 offset-md-1">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
{% endblock content %}