{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block content %}

<div class="container wow fadeIn">
  <p class="my-5 h2 text-center">Checkout</p>
  <div class="row offset-md-2">
    <!--address area-->
    <div class="col-md-6 mb-4">
      <div class="card">
        <form method='POST' class="card-body">
          {% csrf_token %}
          <h3>Shipping address</h3>
          {% include 'form_style/form_style1.html' with field=form.address_line1 %}
          {% include 'form_style/form_style1.html' with field=form.address_line2 %}
          {% include 'form_style/form_style1.html' with field=form.address_line3 %}
            {% include 'form_style/form_style1.html' with field=form.country %}
          {% include 'form_style/form_style1.html' with field=form.zip_code %}
          <button class='btn btn-primary btn-block mt-4' type="submit">Proceed to Payment</button>
        </form>
      </div>
    </div>
    <!--order summary & paypal(moved to payment page)-->
    <div class="col-md-4 mb-4">
      {% include 'order_snippet.html' with order=object %}
      
    </div>
  </div>
</div>

{% endblock content %}