
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_append %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
    {% endblock head_append %}

{% block content %}


<form method='POST'>
    {% csrf_token %}
    {{ form|crispy }}
    <button class='btn btn-primary' type="submit">Checkout</button>
</form>


  <body>
    <!-- Include the PayPal JavaScript SDK; replace "test" with your own sandbox Business account app client ID -->
    <script src="https://www.paypal.com/sdk/js?&client-id=AR2cF_4O0abi_NVahromFUE2n5ObCgrJUEkSC0PNIatboq11VZsdKDHB0b_L2ob0qVryEIRR1fcF4UwZ" <br>
    "&merchant-id=sb-l8q7l8219169@business.example.com&currency=USD"></script>

    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>

    <script>
      paypal.Buttons({

        // Sets up the transaction when a payment button is clicked
        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: {{ object.get_total_price }} // Can reference variables or functions. Example: `value: document.getElementById('...').value`
              }
            }]
          });
        },

        // Finalize the transaction after payer approval
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(orderData) {
            // Successful capture! For dev/demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

            // When ready to go live, remove the alert and show a success message within this page. For example:
            // var element = document.getElementById('paypal-button-container');
            // element.innerHTML = '';
            // element.innerHTML = '<h3>Thank you for your payment!</h3>';
            // Or go to another URL:  actions.redirect('thank_you.html');

              //add to redirect, test?
              window.location.replace("{% url 'shop:payment-sucess' %}")
          });
        }, 

        onCancel: function(data){
          window.location.replace("{% url 'shop:payment-unsucess' %}")
        }
      }).render('#paypal-button-container');

    </script>
{% endblock content %}