<!--these template NO need to extend base (recurrsion)-->



{% block content %}
<div class='container m-5 footer_container'>
    <div class='footer'>
        <div class="row  text-center">
            <div class="col-md-4">
                <p class="h5">Download our App</p>
                <div>
                <img src='/media/icons_badges/google-play-badge.png' alt='google-play-badge' width='140px'>
            </div>
            </div>
            <div class="col-md-4 text-center">
                <p class="h5">Need Help?</p>
                <a href="#">Contact Us</a>
            </div>
            <div class="col-md-4 text-center">
                <p class="h5">Follow us</p>
                <i class="fab fa-instagram fa-2x me-2"></i>
                <i class="fab fa-facebook fa-2x me-2"></i>
                <i class="fab fa-twitter-square fa-2x"></i>
            </div>
        </div>
    </div>
</div>
{% endblock content %}