{% extends "base.html" %}

{% block head_append %}
<style>
    h5 {
        display: inline-block;
    }

    .pagination {
        justify-content: center;
    }
</style>
{% endblock head_append %}


{% block content %}

<div class="container">

    <!--grid of items-->
    <div>

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#id</th>
                <th scope="col">Item name</th>
                <th scope="col">Price</th>
                <th scope="col">description</th>
                <th scope="col">season</th>
                <th scope="col">type</th>
                <th scope="col">label</th>
                <th scope="col">Quantity</th>
                <!--for edit button-->
                <th>
                    <a href="{% url 'shop:upload-item' %}">
                        <i class="fas fa-upload" style="color:green">New item</i>
                    </a> 
                </th>
            </tr>
        </thead>

        <tbody>
            <!--each items-->
            {% for item in page_obj %}
            <tr>
                <th>{{ item.pk }}</th>
                <td>{{ item.name }}</td>
                {% if item.discounted_price %}
                <td><del>{{ item.price }}</del> {{ item.discounted_price }}</td>
                {% else %}
                <td>{{ item.price }}</td>
                {% endif %}
                <td>{{ item.description }}</td>
                <td>{{ item.product_season }}</td>
                <td>{{ item.product_type }}</td>
                <td>{{ item.label }}</td>
                <td>{{ item.stock }}</td>
                <td>
                    <a href="{% url 'shop:update-item' pk=item.pk %}" class="me-2">
                        <i class="fas fa-edit"></i>Edit
                    </a>
                    <a href="{% url 'shop:remove-item' pk=item.pk %}" class="button">
                        <i class="fas fa-trash float-right"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <td>You have no Items</td>
            {% endfor %}
        </tbody>
    </table>

    {% include 'pagination.html' with page_obj=page_obj %}

</div>

{% endblock content %}