{% extends "base.html" %}

{% block head_append %}
<style>
    h5 {
        display: inline-block;
    }

    .pagination {
        justify-content: center;
    }
</style>
{% endblock head_append %}


{% block content %}

<div class="container">

    <!--grid of items-->
    <div class="row row-col-md-2 g-3">

        <!--each items-->
        {% for item in page_obj %}
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
            <div class="card shadow">
                <a href="{{ item.get_absolute_url }}" class="text-decoration-none">
                    <img src="{{ item.image.url }}" class="card-img-top" width="200" height="300" />
                    <div class="card-body text-center text-primary">
                        <p class="text-black-50">{{ item.get_product_type_display|capfirst }}</p>
                        <h5 class="card-title text-dark">{{ item.name|capfirst }}</h5>
                        {% if item.label %}
                        <span class="badge bg-success">{{ item.get_label_display }}</span>
                        {% endif %}
                        {% if item.discounted_price %}
                        <div>
                            <span class="card-text">Price: <del>{{ item.price }}</del></span>
                            <span class="card-text text-danger"> {{ item.discounted_price }}</span>
                            <span class="badge bg-danger">Sales</span>
                        </div>
                        {% else %}
                        <div><span class="card-text">Price: {{ item.price }}</span></div>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container m-4">
        <!--pageination-->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

</div>



{% endblock content %}