{% extends "base.html" %}

{% block head_append %}
<style>
    h5 {
        display: inline-block;
    }

    .pagination {
        justify-content: center;
    }
</style>
{% endblock head_append %}


{% block content %}

<div class="container">

    <!--grid of items-->
    <div class="d-flex justify-content-end">
        {% if paid == 'all' %}
        <a href="{% url 'shop:order-list'%}?paid=True&complete={{complete}}" class="nav-link">Paid only</a>
        <a href="{% url 'shop:order-list'%}?paid=all&complete={{complete}}"class="nav-link disabled">Paid & not Paid</a>
        {% else %}
        <a href="{% url 'shop:order-list'%}?paid=True&complete={{complete}}" class="nav-link disabled">Paid only</a>
        <a href="{% url 'shop:order-list'%}?paid=all&complete={{complete}}"class="nav-link">Paid & not Paid</a>
        {% endif %}
    </div>
    <div class="d-flex justify-content-end">
        {% if complete == 'True' %}
        <a href="{% url 'shop:order-list'%}?paid={{paid}}&complete=False" class="nav-link">Incomplete only</a>
        <a href="{% url 'shop:order-list'%}?paid={{paid}}&complete=True" class="nav-link disabled">complete & incomplete</a>
        {% else %}
        <a href="{% url 'shop:order-list'%}?paid={{paid}}&complete=False" class="nav-link disabled">Incomplete only</a>
        <a href="{% url 'shop:order-list'%}?paid={{paid}}&complete=True" class="nav-link">Complete & Incomplete</a>
        {% endif %}

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#id</th>
                <th scope="col">Customer</th>
                <th scope="col">Items</th>
                <th scope="col">address</th>
                <th scope="col">OrderDate</th>
                <th scope="col">Total price</th>
                <th scope="col">Paid?</th>
                <th scope="col">Complete?</th>
                <th scope="col">Change status to: </th>
                <!--for edit button-->
                <th>
                </th>
            </tr>
        </thead>

        <tbody>
            <!--each items-->
            {% for order in page_obj %}
            <tr>
                <th>{{ order.pk }}</th>
                <td>{{ order.user }}</td>
                <td>
                    {% for item in order.orderitems.all %}
                    {{ item.name_for_order }}<br />
                    {% endfor %}
                </td>
                <td>{{ order.ship_addr }}</td>
                <td>{{ order.orderDate }}</td>
                <td>{{ order.get_total_price }}</td>
                <td>{{ order.paid }}</td>
                <td>{% if order.complete %}Compeleted{% else %}Incomplete{% endif %}</td>
                <td>
                <!--button and pop up window-->
                <!-- Button trigger modal -->
                {% if order.complete %} 
                <button type="button" class="btn btn-danger btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#complete{{order.pk}}">
                    Incomplete
                </button>
                {% else %}
                <button type="button" class="btn btn-success btn-sm ms-2" data-bs-toggle="modal" data-bs-target="#complete{{order.pk}}">
                    Complete
                </button>
                {% endif %}
                <!-- Modal -->
                <div class="modal fade" id="complete{{order.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Changing order status</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">Marking order status to 
                            {% if order.complete %} incomplete {% else %} complete {% endif %}! continue?</div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                        <a class="btn btn-primary" href="{% url 'shop:complete-order' order.pk %}" role="button">Save changes</a>                        
                        </div>
                    </div>
                    </div>
                </div>
                </td>
                <td>
                    <!--need a page for it-->
                    <a href="{% url 'shop:update-order' pk=order.pk %}" class="me-2">
                        <i class="fas fa-edit"></i>Detail
                    </a>
                </td>
            </tr>
            {% empty %}
            <td>You have no Items</td>
            {% endfor %}
        </tbody>
    </table>

    {% include 'pagination.html' with page_obj=page_obj %}

</div>

{% endblock content %}