{% extends "base.html" %}

{% block content %}
<div class="container">
    <p>Product Name: {{ object.name }}</p>
    <img src="{{ object.image.url }}" width="300" height="300" />
    {% if object.discounted_price %}
    <p></p>
        <del>Price: {{ object.price }}</del>
        <span> {{ object.discounted_price }}</span>
    {% else %}
        <p>Price: {{ object.price }}</p>
    {% endif %}
    <a href="{{ object.get_add_to_cart_url }}" class="button">Add to Cart</a>
    <a href="{{ object.get_remove_from_cart_url }}" class="button">delete item</a>
    <div>
        <a href="{% url 'shop:home-page' %}">Back to Home</a>
    </div>
    
</div>
{% endblock content %}