{% extends "base.html" %}
{% load cart_templatetags %}

{% block content %}
<div class="container">

    <!--thinking to change image to carousel-->
    <div class="card d-flex mt-5 mb-5">
        <div class='row'>
            <div class="col-md-6">
                <!--use nested grid-->
                <div class="row">
                    <!--small image-->
                    <div class="col-4">
                    </div>
                    <div class="col-8">
                        <img class='img-fluid img-thumbnail' src="{{ object.image.url }}" style="max-height:500px" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <div class='ms-3'>
                        <h5 class="card-title">{{ object.name }}</h5>
                        <h3 class="card-subtitle mb-2 mt-3">
                            {% if object.discounted_price %}
                            <span>USD $ </span>
                            <del>{{ object.price }}</del>
                            <span> <b>{{ object.discounted_price }} </b></span>
                            {% else %}
                            <p><b>USD $ {{ object.price }}</b></p>
                            {% endif %}
                            </h6>
                            <p class="card-text">{{ object.description }}</p>
                            <p class="card-text"> size: </p>
                            <p class="card-text"> color: </p>
                            <form method='POST' action='{{ object.get_add_to_cart_url }}'>
                                {% csrf_token %}
                                <label for="quantity">Amount: </label>
                                <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                                <div class='mt-3'>
                                    <button class='btn btn-danger' type="submit">Add to
                                        Cart</button>
                                </div>
                            </form>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="container mt-5 justify-content-md-center">
        <p class="h3 text-center">Similar Items</p>
        <hr class="line_below_feature_middle">
    </div>
    <div class="row g-2 mt-2 justify-content-md-center">
        <!--each items-->
        {% for item in qs %}
        <div class="col-md-3 col-6 product_card">
            <div class="card shadow h-100">
                <a href="{{ item.get_absolute_url }}" class="text-decoration-none">
                    <img src="{{ item.image.url }}" class="card-img-top"/>
                    <div class="card-body text-center text-primary">
                        <p class="text-black-50">{{ item.get_product_type_display|capfirst }}</p>
                        <h5 class="card-title text-dark">{{ item.name|capfirst }}</h5>
                        {% if item.discounted_price %}
                        <div>
                            <span class="card-text">Price: <del>{{ item.price }}</del></span>
                            <span class="card-text text-danger"> {{ item.discounted_price }}</span>
                            <span class="badge bg-danger">Sales</span>
                        </div>
                        {% else %}
                        <div><span class="card-text">Price: {{ item.price }}</span></div>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
        {% empty %}
        <p class='h5'>Coming Soon</p>
        {% endfor %}
    </div>


</div>

{% endblock content %}