{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!--need enctype='multipart/form-data', so image is sent back; action="" is where the POST is sent to-->
<div class="container-fulid offset-lg-2">
    <form method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        {{form.name.label_tag}}
        {{form.name}}
        {{form.error}}
        {{ form|crispy }}
        <button class='btn btn-primary' type="submit">Submit</button>
    </form>
</div>
{% if pk %}
<a href="{% url 'shop:remove-item' pk %}" class='btn btn-danger' role='button'>Delete</a>
{% endif %}
{% endblock content %}