{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Update item
{% endblock title %}

{% block head_append %}

{% endblock head_append %}

{% block content %}
<!--need enctype='multipart/form-data', so image is sent back; action="" is where the POST is sent to-->
<div class="container-fulid form_background">
    <div class="row justify-content-center pt-md-5 pb-md-5 p-3">
        <!--row -->
        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8  pt-5 pb-5 form_sheet shadow-lg">
            <!--col-xl-7 col-md-10 -->
            <div>
                <p class="h2 mb-5"><span>Upload/modify items</span></p>
            </div>
            <div>
                {% if form.pk %}
                {% endif %}
                <form method='POST' enctype='multipart/form-data'>
                    {% csrf_token %}
                    {% include 'form_style/TwoPerLine.html' with field1=form.name field2=form.price %}

                    {% include 'form_style/TwoPerLine.html' with field1=form.product_season field2=form.product_type %}

                    {% include 'form_style/TwoPerLine.html' with field1=form.product_gender field2=form.stock %}

                    {% include 'form_style/form_style1.html' with field=form.image %}

                    {% include 'form_style/TwoPerLine.html' with field1=form.discounted_price field2=form.label %}

                    {% include 'form_style/TwoPerLine.html' with field1=form.size field2=form.color %}


                    {% include 'form_style/form_style1.html' with field=form.description %}

                    <button class='btn btn-primary' type="submit">Save</button>
                    {% if pk %}
                    <a href="{% url 'shop:remove-item' pk %}" class='btn btn-danger' role='button'>Delete</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}